<div class="container">
  <div class="row g-5 p-5 d-flex justify-content-center">

    <div class="col-4 bloque">
      <div class="icono productos p-5 mb-5">
        <div class="text-center">
          <a routerLink="/productos">
            <i class="fa-solid fa-gifts fa-5x"></i>
            <h4 class="mt-1">Productos</h4>
          </a>
        </div>
      </div>

      <div class="icono lterrestre p-5 mb-5">
        <div class="text-center">
          <a routerLink="/logistica-terrestre">
            <i class="fa-solid fa-truck-fast fa-5x"></i>
            <h4 class="mt-1">Logística Terrestre</h4>
          </a>
        </div>
      </div>

      <div class="icono lmaritima p-5 mb-5">
        <div class="text-center">
          <a routerLink="/logistica-maritima">
            <i class="fa-solid fa-ship fa-5x"></i>
            <h4 class="mt-1">Logística Maritima</h4>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>