<div class="container">

  <div class="row g-5 p-5">

    <div class="col-md-4">
      <h4>Productos y Clientes</h4>
      <div class="p-3 border bg-light mb-3">
        <a routerLink="/productos">Productos</a>
      </div>
      <div class="p-3 border bg-light mb-3">Clientes</div>
    </div>

    <div class="col-md-4">
      <h4>Localizaciones</h4>
      <div class="p-3 border bg-light mb-3">Bodegas</div>
      <div class="p-3 border bg-light mb-3">Puertos Maritimos</div>
    </div>

    <div class="col-md-4">
      <h4>Logistica</h4>
      <div class="p-3 border bg-light mb-3">Terrestre</div>
      <div class="p-3 border bg-light mb-3">Maritima</div>
    </div>
  </div>



</div>