<div class="container">
  <div class="row g-5 p-5">

    <div class="col bloque">
      <div class="icono productos p-5 mb-5">
        <div class="text-center">
          <a routerLink="/productos">
            <i class="fa-solid fa-gifts fa-5x"></i>
            <h4 class="mt-1">Productos</h4>
          </a>
        </div>
      </div>

      <div class="icono clientes p-5 mb-5">
        <div class="text-center">
          <a routerLink="/clientes">
            <i class="fa-solid fa-people-roof fa-5x"></i>
            <h4 class="mt-1">Clientes</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="col bloque">
      <div class="icono bodegas p-5 mb-5">
        <div class="text-center">
          <a routerLink="/bodegas">
            <i class="fa-solid fa-warehouse fa-5x"></i>
            <h4 class="mt-1">Bodegas</h4>
          </a>
        </div>
      </div>

      <div class="icono puertos p-5 mb-5">
        <div class="text-center">
          <a routerLink="/puertos">
            <i class="fa-solid fa-anchor fa-5x"></i>
            <h4 class="mt-1">Puertos Maritimos</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="col bloque">
      <div class="icono lterrestre p-5 mb-5">
        <div class="text-center">
          <a routerLink="/lterrestre">
            <i class="fa-solid fa-truck-fast fa-5x"></i>
            <h4 class="mt-1">Logística Terrestre</h4>
          </a>
        </div>
      </div>

      <div class="icono lmaritima p-5 mb-5">
        <div class="text-center">
          <a routerLink="/lmaritima">
            <i class="fa-solid fa-ship fa-5x"></i>
            <h4 class="mt-1">Logística Maritima</h4>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>